p{
  text-align: center;
}
h1{
  text-align: center;
}
.links{
  text-decoration: none;
  color: blue;
  padding: 10px;
  padding-top: :5px;
  padding-bottom: 5px;
  border-radius: 8px;
  border: 2px solid ;
  border-color: blue;
}
.links:hover{
  background: blue;
  color: white;
}
td{
  border: 1px solid;
  list-style-position: outside;
  margin:0;
  padding: 10px;
}
th{
  border: 1px solid;
  list-style-position: outside;
  margin:0;
  padding:10px;
}
.lista{
  border: 1px solid;
  list-style-position: outside;
  margin: 5px;
  padding:0;
  background-color: #ff4000;
  border-radius: 5px;
}
.html{
  border: 1px solid;
  list-style-position: outside;
  margin: 5px;
  padding:0;
  background-color: #ff4000;
  border-radius: 5px;
}
.css{
  border: 1px solid;
  list-style-position: outside;
  margin: 5px;
  padding:0;
  background-color: #0040ff;
  border-radius: 5px;
}
.js{
  border: 1px solid;
  list-style-position: outside;
  margin: 5px;
  padding:0;
  background-color: #ffff00;
  border-radius: 5px;
}
.insta{
  list-style-image: url("../imagens/insta.png");
}
.tt{
  list-style-image: url("../imagens/Twitter.png")
}
#Redes{
  background: url("../imagens/Redes.png") center/cover no-repeat 
}
.tabela{
  font-size: 25px;
}